<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#">PeliculasApp</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/buscar']">Buscar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input #b [ngModel]="busqueda" name="b" class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" />
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button" [routerLink]="['/buscar']"
        [queryParams]="{pelicula: b.value}">
        Buscar
      </button>
    </form>
  </div>
</nav>