<div class="container mt-5">
  <h1>Peliculas de la Semana</h1>

  <div class="card-columns">
    <div class="card" *ngFor="let pelicula of peliculas">
      <img
        class="card-img-top"
        src="https://image.tmdb.org/t/p/w500/{{ pelicula.poster_path }}"
        alt="Card image cap"
      />

      <div class="card-body">
        <h5 class="card-title">{{ pelicula.title }}</h5>
        <p class="card-text">
          {{ pelicula.overview }}
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
