/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(20, 17, 37);
  color: rgb(231, 228, 252);
}

.navbar {
  background-color: rgb(20, 17, 37);
  height: 10%;
}

.container {
  width: 100%;
}
.card-columns {
  width: 60%;
}

.card {
  width: 100% !important;

  position: relative;
  border: none;
  margin-left: 40px !important;
  background-color: rgb(20, 17, 37);
  cursor: pointer;
  height: 520px !important;
}

.card-body {
  width: auto;
  position: relative;

  color: rgb(231, 228, 252);

  margin-bottom: 10px;
}

.text-muted {
  padding-right: 10px;
  display: inline-block;
}
/* Puntuacion */
.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper span {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 10px;
  font-size: 1.5rem;
  color: #888;
}

.ec-stars-wrapper .voto {
  color: rgb(215, 228, 39);
}

/* .ec-stars-wrapper:hover span {
  color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad

.ec-stars-wrapper > span:hover ~ span {
  color: #888;
}*/
